p {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 30px;
}

.impressum{
  width: 50%;
}

a:link {
	color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: hotpink
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
   .impressum {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .impressum {
    width: 100%;
  }
}