* {
  box-sizing: border-box;
}
.splide {
  display: inline-block;
}
/* on PC */
@media screen and (min-width: 800px) {
  .splide__track {
    float: left;
    width: 40%;
    padding-right: 15px;
  }
  .splide__track img {
    width: 100%;
  }
  .description {
    float: left;
    width: 50%;
    font-size: 30px;
  }
}
/* on Mobile */
@media screen and (max-width: 800px) {
  .splide__track {
    width: 100%;
  }
  .splide__track img {
    width: 100%;
  }
  .description {
    width: 100%;
    font-size: 25px;
  }
}

.description {
	margin: 0;
	font-family: "Helvetica Neue", sans-serif;
}

img {
	border-radius: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.splide__slide img {
  width: 100%;
  height: auto;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: hotpink
}