.introduction {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 10vmin;
}

.box {
	background-color: none;
 	padding: 10px 100px 100px 100px;
 	margin-left: auto;
  margin-right: auto;
 	border-radius: 50px
}

footer {
  text-align: center;
  padding: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.button {
	border: none;
	border-radius: 100px;
  	color: white;
  	background-color: black;
  	padding: 16px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 7vmin;
  	margin: 4px 2px;
  	transition-duration: 0.4s;
  	cursor: pointer;
}

.button-portfolio {
  background-color: black;
  color: white;
}

.button-portfolio:hover {
  background-color: hotpink;
  color: black;
}

p.footer-buttons {
	text-decoration: none;
}

a:link {
	color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: hotpink
}

@media screen and (max-width: 1080px) {
  .box {
      padding: 40px 40px 40px 40px;
  }
}

@media screen and (max-width: 600px) {
  .box {
      padding: 10px 10px 10px 10px;
}